.product-list-container {
  width: auto;
  margin: 40px 100px;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}