$header-bg-color: #f9a03f;
$header-text-color: #fff;
$header-padding: 20px;

.header {
  background-color: $header-bg-color;
  color: $header-text-color;
  padding: $header-padding;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__nav {
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            color: $header-text-color;
            font-size: 25px;
            transition: all 0.3s ease;

            &:hover {
              color: #333;
            }
          }
        }
      }
    }

  &__container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & img {
      width: 150px;
      margin: 40px;
    }

    
  }
}

