$footer-bg-color: #2b2b2b;
$footer-padding: 50px;
$footer-font: whitesmoke;

footer {
  background-color: $footer-bg-color;
  padding: $footer-padding;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Montserrat, Sans-serif;


  .footer-section {
    width: auto;

    h3 {
      color: $footer-font;
      font-size: 1.5rem;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    p {
      color: $footer-font;
      font-size: 1.4rem;
      margin: 0px;
    }

    ul {
      display: flex;
      font-size: 35px;
      list-style: none;
      margin: 5px;
      padding: 0;
      color: whitesmoke;

    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      margin: 15px;
      color: whitesmoke;
      text-decoration: none;

      &:hover {
        color: $footer-font;
      }
    }
  }
}
